<div id="app" class="container">
  <h1>Connect Four</h1>
  <div class="connect4-status">
    <button class="connect4-restart" (click)="restart()">Restart</button>
    <div
      class="connect4-label connect4-label--failure"
      *ngIf="!board.isActive"
    >
      Game over!
    </div>
  </div>
  <div class="connect4-board connect4-board--active">
    <div *ngFor="let column of board.grid; index as y" class="connect4-column">
      <button
        class="connect4-cell"
        *ngFor="let cell of column"
        [class.connect4-cell--red]="cell == 'red'"
        [class.connect4-cell--blue]="cell == 'blue'"
        (click)="addPiece(y)"
      ></button>
    </div>
  </div>
</div>
